<nav class="navbar navbar-default">
 <div class="container-fluid">
   <!-- Logo -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Cambiar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.relbaseurl }}">
        <img alt="Logo" src="{{ site.relbaseurl }}/public/images/videotoys.png" id="logo" class="pull-left">
      </a>
    </div>
    <!-- Navbar -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.relbaseurl }}/contacto">Contacto</a></li>
        <li><a href="{{ site.relbaseurl }}/faq">FAQ</a></li>
        <li role="separator" class="divider"></li>
        <!-- Categorías -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Categorías<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.relbaseurl }}/familia">Familiar</a></li>
            <li><a href="{{ site.relbaseurl }}/educativo">Educativo</a></li>
            <li><a href="{{ site.relbaseurl }}/infantil">Infantil</a></li>
          </ul>
        </li>
      </ul>
      <!-- Busqueda -->
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Busqueda en el sitio">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
